html {
  font-size: 16px; 
  font-family: 'Pontano Sans', sans-serif;
  text-align: left; 
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #fdfdfe;
  padding: 30px 50px;
  letter-spacing: 1px;
}

.page {
  max-width: 750px;
  margin: 0 auto;
}

.body-of-page {
  padding: 0;
}

h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 22px;
  font-family: 'Prata', serif;

}

h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  font-family: 'Prata', serif;
}

h3 {
  margin: 0;
  padding: 0px 0;
  font-size: 16px; 
  font-weight: bold;
  font-family: 'Pontano Sans', sans-serif;
}

p, li {
  line-height: 2;
  letter-spacing: 1px;
}

blockquote {
  border-left: solid 1px grey;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 0;;
}